<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<corners>
	<corner id="1">
		<enabled>1</enabled>
		<custom>0</custom>
		<option>0</option>
		<custom_s>17-67</custom_s>
	</corner>
	<corner id="2">
		<enabled>0</enabled>
		<custom>0</custom>
		<option>0</option>
		<custom_s>17-86</custom_s>
	</corner>
	<corner id="3">
		<enabled>0</enabled>
		<custom>0</custom>
		<option>0</option>
		<custom_s>17-90</custom_s>
	</corner>
	<corner id="4">
		<enabled>0</enabled>
		<custom>0</custom>
		<option>0</option>
		<custom_s>17-88</custom_s>
	</corner>
</corners>
